body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

*,
*:before 
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.container{
    width: 100%;
    margin: 0;
}

.header__inner{
    box-shadow: 0 0 3px 1px;
    border: none;
    border-bottom: 0.5px solid;
    border-left: 0.5px solid;
    border-right: 0.5px solid;
    border-top: 2px solid;
    border-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    pointer-events: none;
    margin-right: 10px;
    height: 100px;
    margin-left: 5%;
}

.name__logo{
    position: static;
    display: inline-block;
    font-size: 75px;
    margin: auto;
    margin-left: 0;
    pointer-events: none;
}

.nav__logo{
    position: right;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Roboto Slab', serif;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #111;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    transition: color 0.2s linear;
}

.nav__link:hover {
    color: rgb(173, 0, 0);
}
.intro{
    height: 100%;
}
.intro__background{
    pointer-events: none;
    position: static;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.body__description{
    position: relative;
    box-shadow: 0 0 3px 1px;
    border: none;
    border-bottom: 0.5px solid;
    border-left: 0.5px solid;
    border-right: 0.5px solid;
    border-top: 2px solid;
    border-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.body__text__intro{
    font-family: 'Chelsea Market', cursive;
    font-size: 30px;
    text-align: center;
}